.gallery img{

border:2px solid #00ffff;

box-shadow:
0 0 10px #00ffff,
0 0 20px #00ffff;

transition:0.3s;

}

.gallery img:hover{

transform:scale(1.05);

box-shadow:
0 0 20px #00ffff,
0 0 40px #00ffff,
0 0 60px #00ffff;

}

h2{

text-align:center;
margin-top:50px;
color:#ff00ff;

font-family:'Orbitron';

text-shadow:0 0 10px #ff00ff;

}
